{% extends "layouts/base.html" %}
{% block title %}Retrieve Users{% endblock %}
{% block content %}

{% block PageJS %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  {% endblock PageJS %}
  {% block PageCSS %}
  <style>
    #bigSidebar {
      background-color: lightgrey;
    }

    #sidebarDash {
      font-weight: bold;
      font-size: 20px;
      color: purple;
    }

    #sidebarLive {
      font-weight: bold;
      font-size: 20px;
      color: purple;
    }

    #sidebarAna {
      font-weight: bold;
      font-size: 20px;
      color: purple;
    }

    #sidebarSet {
      font-weight: bold;
      font-size: 20px;
      color: purple;
    }

    #sidebarLog {
      font-weight: bold;
      font-size: 20px;
      color: purple;
    }
  </style>
  {% endblock PageCSS %}

{% block PageTitle %}ESTIC - FAQ List {% endblock PageTitle %}
{% block PageContent %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" id="bigSidebar">
      <ul class="nav nav-sidebar">
        <li>
          <img src="../{{imgURL}}" width="150" height="150">

        </li>
      </ul>
      <ul class="nav nav-sidebar">
        <li id="sidebarDash" class="active"><a href="#">Profile <span class="sr-only">{{users}}</span></a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li id="sidebarSet"><a href="listuser">List Of Users</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li id="sidebarLog"><a href="createuserbyadmin">Create User</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li id="sidebarLog"><a href="logout">Log Out</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      {% if count == 0 %}
        <h1 class="page-header">No Faqs</h1>
      {% endif %}

        
      {% if count != 0 %}
        <h6 class="page-header">Total Faqs {{count}}</h6>

      <h6 class="page-header">FAQ List</h6>

      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Questions</th>
                <th scope="col">Answers</th>
            </tr>
          </thead>
          <tbody>

            {% for faqData in faqs %}
            <tr>
                <td>{{faqData.sno}}</td>
                <td>{{faqData.question}}</td>
                <td>{{faqData.answer}}</td>
                <td><a href="/admin/faq/updatefaq/{{faqData.id}}" class="btn btn-primary">Update</a></td>
                <!-- <td><a href="/updateUserPassword/{{userData.id}}" class='btn btn-warning'>Reset Password</a></td> -->
                <td><a href="/admin/faq/deletefaqbyadmin/{{faqData.id}}" class='btn btn-warning'>Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      <a href="../managefaq">Go back to Manage Faq</a>
    </div>
  </div>
</div>
{% endblock PageContent %}
{% endblock %}
