<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">ESTIC</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/displayLivestream">Watch Livestream</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/concertList">Concerts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cart">Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/performer/signup">Performer Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/performer/login">Performer Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/performer/dashboard">Performer dashboard</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Admin
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/retrieveLivestream">Retrieve Livestreams</a>
        <a class="dropdown-item" href="/concerts">Concerts</a>
        <a class="dropdown-item" href="/createConcert">Create Concert</a>
        <a class="dropdown-item" href="/payment">Payment page</a>
        <a class="dropdown-item" href="/admin_logout">Admin Logout</a>
      </div>
    </li>
  </ul>
</nav>
