{% extends "layouts/base.html" %}
{% block PageJS %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
{% endblock PageJS %}
{% block PageCSS %}
<style>
    #bigSidebar {
        background-color: lightgrey;
    }

    #sidebarDash {
        font-weight: bold;
        font-size: 20px;
        color: purple;
    }

    #sidebarLive {
        font-weight: bold;
        font-size: 20px;
        color: purple;
    }

    #sidebarAna {
        font-weight: bold;
        font-size: 20px;
        color: purple;
    }

    #sidebarSet {
        font-weight: bold;
        font-size: 20px;
        color: purple;
    }

    #sidebarLog {
        font-weight: bold;
        font-size: 20px;
        color: purple;
    }
</style>
{% endblock PageCSS %}
{% block PageTitle %}ESTIC - Performer Settings{% endblock PageTitle %}

{% block PageContent %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="bigSidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <img src="../{{imgURL}}" width="150" height="150">

                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li id="sidebarLog"><a href="listuser">List of Users</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li id="sidebarLog"><a href="createuserbyadmin">Create User</a></li>
              </ul>      
              <ul class="nav nav-sidebar">
                <li id="sidebarLog"><a href="../concert/createConcert">Create Concert</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li id="sidebarLog"><a href="managefaq">Manage FAQ</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li id="sidebarLog"><a href="logout">Log Out</a></li>
              </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{{name}}</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                </div>
            </div>
            <h2 class="sub-header">Update User Account</h2>
            <div class="table-responsive">

                    <form action="updatebyadmin" method="post">

                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <div class="form-group">
                                    Change Name
                                    <input type="text" class="form-control" name="name" value="{{name}}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Change Password
                                    <input type="password" name="password" class="form-control" value="{{password}}"
                                        placeholder="Use old password or type in new password">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    Change Email
                                    <input type="email" name="email" class="form-control" value="{{email}}">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Save" class="btn btn-success" />
                </form>
        </div>
    </div>
</div>
{% endblock PageContent %}