{% extends "layouts/base.html" %}
{% block title %}ESTIC{% endblock %}

{% block PageContent %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="/public/css/font-awesome.min.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<h1 class="display-4">Cart</h1>

<div id = "toolbar">
  <button data-formatter="topayment">
    <i class = "fa fa-money"></i> Pay
  </button>
</div>

<table 
  data-toggle = "table"
  data-height = "400"
  data-toolbar = "#toolbar"
  data-loading-template = "loadingTemplate"
  data-url = "/concert/cart-data">
  <thead>
    <tr>
      <th data-field = "id" data-formatter="format_actions"></th>
      <th data-field = "title">Title</th>
      <th data-field = "price">Price</th>
      <th data-field = "ticket">Ticket</th>
      <th data-field = "id" data-formatter="delete_action"></th>
    </tr>
  </thead>
</table>

<script>
  function loadingTemplate(message){
    return '<i class = "fa fa-spinner fa-spin fa-fw fa-2x"></i>'
  }
  
  function format_actions(value, row, index){
    return [`<a href = "/concert/concertDetails/${row.id}">`,
      `<i class = "fa fa-info"></i>`,
      `</a>`
    ].join('')
  }

  function delete_action(value, row, index){
    return [`<i class = "fa fa-trash"></i>`].join('')
  }

  function topayment(){
    return [`<a href = "/concert/payment"></a>`]
  }

</script>
{% endblock PageContent %}
