{% extends "layouts/base.html" %}
{% block title %}ESTIC{% endblock %}

{% block PageContent %}{#
{% if 'concert_created' in session%}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('concert_created', None) }} was created.
</div>
{% elif 'concert_updated' in session %}
<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('concert_updated', None) }} was updated.
</div>
{% elif 'concert_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('concert_deleted', None) }} was deleted.
</div>
{% endif %}#}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="/public/css/font-awesome.min.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<h1 class="display-4">Concerts</h1>

<div>{#
  {% if count == 0 %}
  <p>There are no concert entry.</p>
  {% elif count == 1 %}
  <p>There is 1 concert entries.</p>
  {% else %}
  <p>There are {{ count }} concert entry(ies).</p>
  {% endif %}#}
</div>

<table 
  data-toggle = "table"
  data-height = "500"
  data-search = "true"
  data-show-columns = "true"
  data-show-columns-toggle-all = "true"
  data-click-to-select = "true"
  data-pagination = "true"
  data-maintain-meta-data = "true"
  data-loading-template = "loadingTemplate"
  data-url = "/concert/table-data">
  <thead>
    <tr>
      <th data-field = "id">ID</th>
      <th data-field = "title">Title</th>
      <th data-field = "details">Details</th>
      <th data-field = "genre">Genre</th>
      <th data-field = "date">Date</th>
      <th data-field = "time">Time</th>
      <th data-field = "id" data-formatter="format_actions"></th>
    </tr>
  </thead>
</table>

<script>
  function loadingTemplate(message){
    return `<i class = "fa fa-spinner fa-spin fa-fw fa-2x"></i>`
  }

  function format_actions(value, row, index){
    return [`<a href = "/concert/updateConcert/${row.id}">`,
      `<i class = "fa fa-wrench"></i>`,
      `</a> `,
      `<i class = "fa fa-trash" onclick = "delete_concert(${row.id})></i>`
    ].join('')
  }

  function delete_concert(index){
    const concert = await Concert.findOne({
            where: {id: req.params.id}
        });

  }
</script>

{% endblock PageContent %}
