{% extends "layouts/base.html" %}
{% block title %}ESTIC{% endblock %}

{% block PageContent %}{#
{% if 'concert_created' in session%}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('concert_created', None) }} was created.
</div>
{% elif 'concert_updated' in session %}
<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('concert_updated', None) }} was updated.
</div>
{% elif 'concert_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('concert_deleted', None) }} was deleted.
</div>
{% endif %}#}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="/public/css/font-awesome.min.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<h1 class="display-4">Concerts</h1>

<div id = "toolbar">
  <a href = "/concert/createConcert">
    <button>Create</button>
  </a>
</div>

<table 
  data-toggle = "table"
  data-height = "800"
  data-toolbar = "#toolbar"
  data-search = "true"
  data-show-columns = "true"
  data-show-columns-toggle-all = "true"
  data-click-to-select = "true"
  data-pagination = "true"
  data-maintain-meta-data = "true"
  data-loading-template = "loadingTemplate"
  data-url = "/concert/concert-data">
  <thead>
    <tr>
      <th data-field = "id" data-formatter="format_actions"></th>
      <th data-field = "title">Title</th>
      <th data-field = "details">Details</th>
      <th data-field = "genre">Genre</th>
      <th data-field = "date">Date</th>
      <th data-field = "time">Time</th>
      <th data-field = "id" data-formatter="delete_action"></th>
    </tr>
  </thead>
</table>

<script>
  function loadingTemplate(message){
    return `<i class = "fa fa-spinner fa-spin fa-fw fa-2x"></i>`
  }

  function format_actions(value, row, index){
    return [
      `<a href = "/concert/updateConcert/${row.id}">`,
      `<i class = "fa fa-wrench"></i>`,
      `</a> `
    ].join('')
  }

  function delete_action(value, row, index){
    return [
      `<form method = "POST" action = "concerts/${row.id}">`,
      `<button type="submit" class = "btn btn-primary">`,
      `<i class = "fa fa-trash"></i>`,
      `</button>`,
      `</form>`
    ].join('')
  }

  // function delete_concert(index){
  //   const concert = await Concert.findOne({
  //           where: {id: req.params.id}
  //       });

  // }
</script>

{% endblock PageContent %}
