{% extends "layouts/base.html" %}
{% block title %}ESTIC - Concerts{% endblock %}

{% block PageContent %}
{#{% if 'concert_added' in session%}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('concert_added', None) }}, {{ session.pop('ticket_chose', None) }} was added.
</div>
{% endif %}#}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="/public/css/font-awesome.min.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<h1 class="display-4">Concerts</h1>

<table 
  data-toggle = "table"
  data-height = "500"
  data-search = "true"
  data-show-columns = "true"
  data-show-columns-toggle-all = "true"
  data-pagination = "true"
  data-loading-template = "loadingTemplate"
  data-url = "/concert/table-data">
  <thead>
    <tr>
      <th data-field = "id" data-formatter="format_actions"></th>
      <th data-field = "title">Title</th>
      <th data-field = "details">Details</th>
      <th data-field = "genre">Genre</th>
      <th data-field = "date">Date</th>
      <th data-field = "time">Time</th>
    </tr>
  </thead>
</table>

<script>
  function loadingTemplate(message){
    return '<i class = "fa fa-spinner fa-spin fa-fw fa-2x"></i>'
  }
  function format_actions(value, row, index){
    return [`<a href = "/concert/concertDetails/${row.id}">`,
      `<i class = "fa fa-info"></i>`,
      `</a>`
    ].join('')
  }
</script>

{% endblock PageContent %}
