{% extends "base.html" %}
{% block title %}ESTIC - Cart{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/payment.css">

<div class="col-25">
    <div class="container">
      <h4>Cart
        <form action="{{url_for('clear_cart')}}" method="POST">
          <input type="submit" value="Delete Cart">
        </form>
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
        </span>
      </h4>
      {% for cart in cart_list %}
      <p><a href="/concertDetails/{{cart.get_id()}}">{{ cart.get_title() }}</a>
        <span class="price">
          ${{ cart.get_price() }}
        </span>
      </p>
      {% endfor %}
      <hr>
      {% if 'total_price' in session%}
      <p>Total: <span class="price" style="color:black">
        <b>
          ${{ session.get('total_price') }}
        </b>
      </span>
      </p>
      {% endif %}
      <form action="payment">
        <input type="submit" value="Continue to Payment" class="btn">
      </form>
    </div>
  </div>
{% endblock %}
