{% extends "layouts/base.html" %}
{% block title %}ESTIC - Concerts{% endblock %}

{% block PageContent %}
{#{% if 'concert_added' in session%}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('concert_added', None) }}, {{ session.pop('ticket_chose', None) }} was added.
</div>
{% endif %}#}
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<h1 class="display-4">Concerts</h1>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Details</th>
        <th>Genre</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
    {% for concert in concert_list %}
      <tr>
        <td><a href="/concertDetails/{{concert.get_id()}}">{{ concert.get_title() }}</a></td>
        <td>{{ concert.get_details() }}</td>
        <td>{{ concert.get_genre() }}</td>
        <td>{{ concert.get_date() }}</td>
        <td>{{ concert.get_time() }}</td>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock PageContent %}
