{% extends "base.html" %}
{% block title %}ESTIC{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<link rel="stylesheet" href="/static/css/payment.css">

<div class="row">
  <div class="col-75">
    <div class="container">
        <div class="row">
          <div class="col-50">
            <form method="POST" action="">
              <div class="form-group">
                <label for = "title">Title:</label><br>
                <input type = "text" id = "title" name = "title"><br><br>
              </div>
              <div class="form-group">
                <label for = "details">Details:</label><br>
                <input type = "text" id = "details" name = "details"><br><br>
              </div>
              <div class="form-group">
                {{ render_field(form.concert_genre, class="form-check", style="list-style-type:none") }}
              </div>
              <div class="form-group">
                {{ render_field(form.concert_date, class="form-control", type="date") }}
              </div>
              <div class="form-group">
                {{ render_field(form.concert_time, class="form-control", type="time") }}
              </div>
              <div class="form-group">
                {{ render_field(form.concert_tickets, class="form-check", style="list-style-type:none") }}
              </div>
              <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}

