{% extends "layouts/base.html" %}
{% block title %}List Livestream{% endblock %}

{% block PageContent %}

<h1>List of Livestreams</h1>


<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<table
  id="table"
  data-toggle="table"
  data-url="/table-data"
  data-pagination="true"
  data-side-pagination="server"
  data-addrbar="true"
  data-filter-control="true">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="livestreamName">Livestream Name</th>
      <th data-field="livestreamInfo">Livestream Information</th>
      <th data-field="livestreamDate">Date of Livestream</th>
    </tr>
  </thead>
</table>

{% endblock %}