{% extends "layouts/base.html" %}
{% block title %}ESTIC - Livestreams{% endblock %}
{% block PageContent %}
<title>Livestream</title>
<div 
    id="data" 
    token="{{token}}" 
    role="{{role}}" 
    username="{{username}}" 
    userId="{{userId}}" 
    streamId="{{streamId}}">
</div>

<div class="container-fluid">
    <div class="col">
        <div class="row container-video">
            <video class="col" id="video-remote" autoplay="autoplay"></video>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/live.js"></script>

{% endblock PageContent %}