{% extends "base (Customer).html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Change Password</h1>

<form method="POST" action="">
  <div class="form-group">
 {{ render_field(form.mainpassword, class="form-control") }}
 </div>
 <div class="form-group">
 {{ render_field(form.password, class="form-control") }}
 </div>
  <div class="form-group">
 {{ render_field(form.confirm, class="form-control") }}
 </div>
 <input type="submit" value="Confirm" class="btn btn-primary" onclick="return alert('Your password has been changed successfully');"/>
</form>
{% endblock %}
